body {
  font-family: Arial;
  background: #f4f4f4;
  text-align: center;
  padding: 30px;
}

input {
  width: 300px;
  padding: 8px;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

#result {
  margin-top: 20px;
  background: white;
  padding: 20px;
  border-radius: 5px;
}
